$bg-principal:linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
$bg-secundario: #FBDA61;
$bg-terciario:linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);

$font-style-principal:'Sacramento', cursive;
$font-style-secundario: 'Dancing Script', cursive;
$font-style-terciario:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

$fs-principal: 40px;
$fs-secundario:90px;
$fs-terciario: 35px;
$fs-cuarternario:30px;
$fs-quinario: 45px;
$fs-sextenario: 19px;
$fs-septenario: 60px;

$fc-principal: #000;
$fc-secundario:rgb(87, 94, 79);
$fc-terciario:rgb(97, 114, 97);
$fc-cuartenario:rgb(58, 75, 58);
$fc-quinario: rgb(100, 109, 99);
$fc-sextenario:rgb(95, 111, 99);

